<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Valores</display-name>
 <servlet>
  <display-name>Prueba</display-name>
  <servlet-name>Prueba</servlet-name>
  <servlet-class>com.logic.Prueba</servlet-class>
 </servlet>
 <servlet>
  <display-name>Logear</display-name>
  <servlet-name>Logear</servlet-name>
  <servlet-class>com.logic.Logear</servlet-class>
 </servlet>
 <servlet>
  <display-name>Vender</display-name>
  <servlet-name>Vender</servlet-name>
  <servlet-class>com.logic.Vender</servlet-class>
 </servlet>
 <servlet>
  <display-name>Comprar</display-name>
  <servlet-name>Comprar</servlet-name>
  <servlet-class>com.logic.Comprar</servlet-class>
 </servlet>
 <servlet>
  <display-name>Consultar</display-name>
  <servlet-name>Consultar</servlet-name>
  <servlet-class>com.logic.Consultar</servlet-class>
 </servlet>
 <servlet>
  <display-name>Home</display-name>
  <servlet-name>Home</servlet-name>
  <servlet-class>com.logic.Home</servlet-class>
 </servlet>
 <servlet>
  <display-name>InicioVender</display-name>
  <servlet-name>InicioVender</servlet-name>
  <servlet-class>com.logic.InicioVender</servlet-class>
 </servlet>
 <servlet>
  <display-name>Cancelar</display-name>
  <servlet-name>Cancelar</servlet-name>
  <servlet-class>com.logic.Cancelar</servlet-class>
 </servlet>
 <servlet>
  <display-name>InicioComprar</display-name>
  <servlet-name>InicioComprar</servlet-name>
  <servlet-class>com.logic.InicioComprar</servlet-class>
 </servlet>
 <servlet>
  <display-name>Intermediar</display-name>
  <servlet-name>Intermediar</servlet-name>
  <servlet-class>com.logic.Intermediar</servlet-class>
 </servlet>
 <servlet>
  <display-name>EliminarIntermediario</display-name>
  <servlet-name>EliminarIntermediario</servlet-name>
  <servlet-class>com.logic.EliminarIntermediario</servlet-class>
 </servlet>
 <servlet>
  <display-name>PortafolioProcesar</display-name>
  <servlet-name>PortafolioProcesar</servlet-name>
  <servlet-class>com.logic.PortafolioProcesar</servlet-class>
 </servlet>
 <servlet>
  <display-name>RetiroIntro</display-name>
  <servlet-name>RetiroIntro</servlet-name>
  <servlet-class>com.logic.RetiroIntro</servlet-class>
 </servlet>
 <servlet>
  <display-name>Miembros</display-name>
  <servlet-name>Miembros</servlet-name>
  <servlet-class>com.logic.Miembros</servlet-class>
 </servlet>
 <servlet>
  <display-name>Autorizar</display-name>
  <servlet-name>Autorizar</servlet-name>
  <servlet-class>com.logic.Autorizar</servlet-class>
 </servlet>
 <servlet>
  <display-name>MostrarMiembro</display-name>
  <servlet-name>MostrarMiembro</servlet-name>
  <servlet-class>com.logic.MostrarMiembro</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultarMovimientos</display-name>
  <servlet-name>ConsultarMovimientos</servlet-name>
  <servlet-class>com.logic.ConsultarMovimientos</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultarPortafolios</display-name>
  <servlet-name>ConsultarPortafolios</servlet-name>
  <servlet-class>com.logic.ConsultarPortafolios</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultarValores</display-name>
  <servlet-name>ConsultarValores</servlet-name>
  <servlet-class>com.logic.ConsultarValores</servlet-class>
 </servlet>
 <servlet>
  <display-name>IntroConsultas</display-name>
  <servlet-name>IntroConsultas</servlet-name>
  <servlet-class>com.logic.IntroConsultas</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaMultiClase</display-name>
  <servlet-name>ConsultaMultiClase</servlet-name>
  <servlet-class>com.logic.ConsultaMultiClase</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Prueba</servlet-name>
  <url-pattern>/Prueba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logear</servlet-name>
  <url-pattern>/Logear.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Vender</servlet-name>
  <url-pattern>/Vender.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Comprar</servlet-name>
  <url-pattern>/Comprar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Consultar</servlet-name>
  <url-pattern>/Consultar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Home</servlet-name>
  <url-pattern>/Home.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InicioVender</servlet-name>
  <url-pattern>/InicioVender.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Cancelar</servlet-name>
  <url-pattern>/Cancelar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InicioComprar</servlet-name>
  <url-pattern>/InicioComprar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Intermediar</servlet-name>
  <url-pattern>/Intermediar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EliminarIntermediario</servlet-name>
  <url-pattern>/EliminarIntermediario.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PortafolioProcesar</servlet-name>
  <url-pattern>/PortafolioProcesar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RetiroIntro</servlet-name>
  <url-pattern>/RetiroIntro.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Miembros</servlet-name>
  <url-pattern>/Miembros.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Autorizar</servlet-name>
  <url-pattern>/Autorizar.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MostrarMiembro</servlet-name>
  <url-pattern>/MostrarMiembro</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConsultarMovimientos</servlet-name>
  <url-pattern>/ConsultarMovimientos.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConsultarPortafolios</servlet-name>
  <url-pattern>/ConsultarPortafolios.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConsultarValores</servlet-name>
  <url-pattern>/ConsultarValores.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>IntroConsultas</servlet-name>
  <url-pattern>/IntroConsultas.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConsultaMultiClase</servlet-name>
  <url-pattern>/ConsultaMultiClase.html</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>-1</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>Home.html</welcome-file>
 </welcome-file-list>
</web-app>
